In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)

2.2.2

In [2]:
a = [[89,90],[88,87]]
var= pd.DataFrame(a, index=['a','b'])
print(var)

    0   1
a  89  90
b  88  87

In [3]:
df = pd.read_csv('pkm.csv')
df['total'] = df[' Hindi']+df[' English']+df[' Maths']
# per1= round((df.total[0]/300)*100)
# per2= round((df.total[1]/300)*100)
# per3= round((df.total[2]/300)*100)
df['Marks'] = (df['total']/300)*100
df['Marks'] = df['Marks'].round(2)

def grade(Marks):
    if Marks >=85:
        return 'A'
    elif Marks >=80:
        return 'B'
    elif Marks >= 70:
        return 'C'
    else:
        return 'D'
    
df['Grade'] = df['Marks'].apply(grade)   
print(df)

      Name   Hindi   English   Maths  total  Marks Grade
0    Aman       92        89      87    268  89.33     A
1     Raj       78        88      87    253  84.33     B
2  Rishabh      76        78      74    228  76.00     C

In [36]:

df = pd.read_excel('C:\\Users\\prash\\Documents\\class.xlsx')
df_2 = pd.read_excel('C:\\Users\\prash\\Documents\\class.xlsx', sheet_name='sec2')
# print(df_2)
total = pd.concat([df,df_2])
remove= total.dropna()
# print(total)
remove = remove.drop_duplicates()
remove =  remove.sort_values(by=['Name'])
a = remove.max()
print(a)

print(remove)
# print(df)

Name        subham
Maths         88.0
Python        87.0
Compiler      89.0
dtype: object
       Name Maths  Python  Compiler
1   Prabhat  64.0    67.0      83.0
8    akabar  45.0    32.0      23.0
5     akhil    63    53.0      23.0
0   anikesh  78.0    87.0      68.0
5   jagdish  54.0    38.0      64.0
3     jaggu    87    76.0      42.0
7     laden  88.0    34.0      54.0
1  prashant    56    78.0      89.0
0    subham    67    78.0      82.0

In [ ]:
#